* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

div.header {
    display: flex;
    flex-direction: row;
}

.company-logo {
    position: relative;
    min-width: 15%;
    max-width: 20%;
    height: 100%;
    margin: 23px;
    padding: 0px 30px;
}

.sign-in {
    color: white;
    border: none;
    background: red;
    width: 4.4em;
    height: 2.5em;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 0.9em;
    font-weight: 400;
    margin: auto;
    margin-right: 20px;
    padding: 5px;
}

.query-section {
    background-image:  url(sectionImage.jpg);
    height: 90vh;
    width: 100%;
    line-height: 2em;
    padding: 20px 30px;
    border-bottom: 10px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.query-text-content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 19px;
}

h1.query-heading {
    text-align: center;
    text-transform: capitalize;
    margin-top: 80px;
    font-size: 50px;
    margin-bottom: 15px;
    line-height: 1.5;
}

span.capital {
    text-transform: uppercase;
}

p.query-sub-1 {
    font-size: 30px;
    font-weight: lighter;
    text-transform: capitalize;
    margin-bottom: 18px;
    text-align: center;
}

p.query-sub-2 {
    text-align: center;
    text-transform: capitalize;
    font-size: large;
    margin-bottom: 7px;
}

input.query-email {
    width: 90%;
    height: 3.5em;
    margin-bottom: 16px;
    text-indent: 20px;
    font-size: 17px;
    outline: none;
}

button.query-submit-btn {
    color: white;
    border: none;
    background: red;
    width: 11em;
    height: 3.5em;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 0.9em;
    font-weight: 400;
    margin: auto;
    padding: 16px;
    cursor: pointer;
}

button.query-submit-btn:hover {
    background-color: rgb(161, 0, 0);
}

input::placeholder {
    padding: 0 1px;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


section.tv-card {
    text-align: center;
    text-transform: capitalize;
    background-color: black;
    height: 60vh;
    padding: 80px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(tv.png);
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 10px solid rgba(255, 255, 255, 0.5);
}

h1.tv-card-header {
    font-size: 2.2em;
}

div.tv-card-text {
    color: white;
    font-size: 1.2em;
}

p.tv-card-sub-header {
    margin: 44px 10px;
}

.second-tv-card {
    text-align: center;
    text-transform: capitalize;
    background-color: black;
    height: 40vh;
    padding: 80px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 10px solid rgba(255, 255, 255, 0.5);
}

h1.tv-card-header-2 {
    font-size: 2.2em;
    margin-top: 50px;
}

div.tv-card-text-2 {
    color: white;
    font-size: 1.2em;
}

p.tv-card-sub-header-2 {
    margin: 44px 10px;
    margin-top: 10px;
}

.second-tv-card-3 {
    text-align: center;
    text-transform: capitalize;
    background-color: black;
    min-height: 60vh;
    padding: 80px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url(kids\ image.png);
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 10px solid rgba(255, 255, 255, 0.5);
}


h1.tv-card-header-3 {
    font-size: 2.2em;
    margin-top: 50px;
    padding: 10px 20px;
}

div.tv-card-text-3 {
    position: absolute;
    color: white;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10em;
}

p.tv-card-sub-header-3 {
    margin: 44px 10px;
    margin-top: 10px;
    padding: 10px 20px;
}

section.second-tv-card-4 {
    text-transform: capitalize;
    background-color: black;
    height: 130vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid rgba(255, 255, 255, 0.5);
    padding: 12em 3em;
}

div.blocks-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.tv-card-header-4 {
    font-size: 2.2em;
    text-align: center;
    padding: 30px;
}

div.tv-card-text-4 {
    position: absolute;
    color: white;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10em;
}

p.tv-card-sub-header-4 {
    font-size: 16px;
    text-align: center;
    padding: 25px;
}


input.query-image-2 {
    border: none;
    width: 18em;
    height: 3.5em;
    text-transform: capitalize;
    font-size: 0.9em;
    font-weight: 300;
    margin-bottom: 50px 60px;
    padding: 20px;
    outline: none;
}

.membership-btn {
    color: white;
    border: none;
    background: red;
    width: 11em;
    height: 3.5em;
    text-transform: capitalize;
    font-size: 0.9em;
    font-weight: 500;
    cursor: pointer;
    outline: none;
} 


h2.card-title {
    font-size: 1.3em;
    text-align: center;
    letter-spacing: 1.2px;
    padding: 20px;
}

div.about {
    width: 100%;
    background-color: #303030;
    margin: 10px;
    cursor: pointer;
    padding: ;
}

div.cost {
    width: 100%;
    /* padding: 20px 10px; */
    background-color: #303030;
    margin: 10px;
    cursor: pointer;
}

 div.location {
    width: 100%;
    /* padding: 20px 10px; */
    background-color: #303030;
    margin: 10px;
    cursor: pointer;
}


div.cancel {
    width: 100%;
    /* padding: 20px 10px; */
    background-color: #303030;
    margin: 10px;
    cursor: pointer;
}

div.programmes {
    width: 100%;
    /* padding: 20px 10px; */
    background-color: #303030;
    margin: 10px;
    cursor: pointer;
}


div.parental-guidance {
    width: 100%;
    /* padding: 20px 10px; */
    background-color: #303030;
    margin: 10px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    width: 100%;
}


.footer-section {
    width: 100%;
    height: 60vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

div.enquiries {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form {
    margin-bottom: 5em;
}


p.contact{
    color: white;
}


@media only screen and (max-width: 412px ) {
    .query-submit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1.tv-card-header-4 {
        font-size: 0.5em;
        padding: 10px 19px;
    }

    .membership-btn {
        margin: 20px;
    }
}
  
@media only screen and (max-width: 428px ) {
    .query-submit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1.tv-card-header-4 {
        font-size: 0.5em;
        padding: 10px 19px;
    }

    .membership-btn {
        margin: 20px;
    }
}
  



